{{!-- The template below includes the markup for each post --}}

{{#foreach posts}}
  {{#is "post"}}
    <div class="m-recommended-slider__item">
  {{/is}}
  {{#if feature_image}}
    <article class="m-article-card {{post_class}}">
      <div class="m-article-card__picture lozad" data-background-image="{{img_url feature_image size="m"}}">
  {{else}}
    <article class="m-article-card no-picture {{post_class}}">
      <div class="m-article-card__picture">
  {{/if}}
      <a href="{{url}}" class="m-article-card__picture-link" aria-label="Article"></a>
    </div>
    {{#if primary_tag}}
      <div class="m-article-card__info">
        <a href="{{primary_tag.url}}" class="m-article-card__tag">{{primary_tag.parent}}<span class="m-heading__meta__divider">&bull;</span>{{primary_tag.name}}</a>
    {{else}}
      <div class="m-article-card__info no-tag">
    {{/if}}
      <a href="{{url}}" class="m-article-card__info-link">
        <div>
          <h2 class="m-article-card__title js-article-card-title {{#unless feature_image}}js-article-card-title-no-image{{/unless}}" title="{{title}}">
            {{title}}
          </h2>
        </div>
      </a>
    </div>
  </article>
  {{#is "post"}}
    </div>
  {{/is}}
  {{else}}
    <header class="m-heading no-margin">
      <h3>{{t "No posts found"}}</h3>
      <p>
        {{t "Apparently there are no posts at the moment, check again later."}}
      </p>
    </header>
{{/foreach}}
